[user]
	name = Benedict Carling
	email = 53439684+Benedict-Carling@users.noreply.github.com
[core]
	editor = code --wait
[credential]
	helper = osxkeychain
[commit]
	gpgsign = false
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
[gpg]
	program = gpg
[include]
	path = ~/.dotfiles/.signingkey.gitconfig
[pull]
	rebase = false
[push]
	followTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[branch]
	sort = committerdate
[column]
	ui = always
